<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.stock.mapper.order.OrderRecordMapper">

  <resultMap id="BaseResultMap" type="com.jy.stock.model.entity.order.OrderRecord">
    <!--@mbg.generated-->
    <!--@Table order_record-->
    <id column="id" property="id" />
    <result column="order_id" property="orderId" />
    <result column="order_type" property="orderType" />
    <result column="total_price" property="totalPrice" />
    <result column="payment_method" property="paymentMethod" />
    <result column="memo" property="memo" />
    <result column="supplier_id" property="supplierId" />
    <result column="customer_id" property="customerId" />
    <result column="create_user_id" property="createUserId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="logic_delete" property="logicDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, order_type, total_price, payment_method, memo, supplier_id, customer_id, 
    create_user_id, update_user_id, create_time, update_time, logic_delete
  </sql>

  <select id="listOrderRecordByPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from order_record
    <where>
      <if test="keyword != null and keyword != ''">
        order_id like concat('%', #{keyword}, '%')
      </if>
      <if test="orderType != null and orderType != ''">
        and order_type = #{orderType}
      </if>
      <if test="orderStartTime != null">
        and create_time &gt;= #{orderStartTime}::date
      </if>
      <if test="orderEndTime != null">
        and create_time &lt;= #{orderEndTime}::date
      </if>
    </where>
    order by create_time desc
  </select>

</mapper>