<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.stock.dao.mapper.goods.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.jy.stock.dao.entity.goods.GoodsType">
        <!--@mbg.generated-->
        <!--@Table goods_type-->
        <id column="id" property="id"/>
        <result column="type_name" property="typeName"/>
        <result column="parent_type_id" property="parentTypeId"/>
        <result column="level" property="level"/>
        <result column="path" property="path"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="logic_delete" property="logicDelete"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        type_name,
        parent_type_id,
        level,
        path,
        create_time,
        update_time,
        logic_delete,
        create_user_id,
        update_user_id
    </sql>

    <select id="listAllGoodsTypes" resultMap="BaseResultMap">
        with RECURSIVE re as
        (
        select a.*
        from goods_type a
        <where>
            <if test="parentTypeId != null">
                a.parent_type_id = #{parentTypeId}
            </if>
            and a.logic_delete = false
        </where>
        union
        select b.*
        from goods_type b
        join re ON b.parent_type_id = re.id
        and b.logic_delete = false
        )
        select
        <include refid="Base_Column_List"/>
        from re
        order by level, id;
    </select>

    <select id="getParents" resultType="Long">
        with RECURSIVE re as
       (
           select a.*
           from goods_type a
           where a.id = #{id}
           and a.logic_delete = false
           union
           select b.*
           from goods_type b
           join re ON b.id = re.parent_type_id
           and b.logic_delete = false
       )
        select re.id
        from re
        order by level;
    </select>

    <select id="getChildren" resultType="Long">
        with RECURSIVE re as
        (
        select a.*
        from goods_type a
        where a.id = #{id}
        and a.logic_delete = false
        union
        select b.*
        from goods_type b
        join re ON b.parent_type_id = re.id
        and b.logic_delete = false
        )
        select re.id
        from re
        order by level;
    </select>

</mapper>