<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.stock.mapper.goods.GoodsInfoMapper">

  <resultMap id="BaseResultMap" type="com.jy.stock.model.entity.goods.GoodsInfo">
    <!--@mbg.generated-->
    <!--@Table goods_info-->
    <result column="id" property="id" />
    <result column="goods_name" property="goodsName" />
    <result column="goods_type_id" property="goodsTypeId" />
    <result column="goods_unit_id" property="goodsUnitId" />
    <result column="purchase_price" property="purchasePrice" />
    <result column="retail_price" property="retailPrice" />
    <result column="wholesale_price" property="wholesalePrice" />
    <result column="memo" property="memo" />
    <result column="create_user_id" property="createUserId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="logic_delete" property="logicDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_name, goods_type_id, goods_unit_id, purchase_price, retail_price, wholesale_price, memo, create_user_id, update_user_id,
    create_time, update_time, logic_delete
  </sql>

  <select id="listGoodsInfo" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from goods_info
    <where>
      <if test="param.goodsName != null and param.goodsName != ''">
        goods_name like concat('%', #{param.goodsName}, '%')
      </if>
      <if test="param.goodsTypeId != null">
        and goods_type_id = #{param.goodsTypeId}
      </if>
      <if test="param.goodsUnitId != null">
        and goods_unit_id = #{param.goodsUnitId}
      </if>
      and logic_delete = false
    </where>
    order by create_time desc
  </select>
</mapper>