<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.stock.mapper.info.WarehouseInfoMapper">

  <resultMap id="BaseResultMap" type="com.jy.stock.model.entity.info.WarehouseInfo">
    <!--@mbg.generated-->
    <!--@Table warehouse_info-->
    <id column="id" property="id" />
    <result column="warehouse_name" property="warehouseName" />
    <result column="contact_person" property="contactPerson" />
    <result column="phone" property="phone" />
    <result column="country" property="country" />
    <result column="state" property="state" />
    <result column="city" property="city" />
    <result column="district" property="district" />
    <result column="address" property="address" />
    <result column="post_code" property="postCode" />
    <result column="create_user_id" property="createUserId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="logic_delete" property="logicDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, warehouse_name, contact_person, phone, country, "state", city, district, address, post_code, create_user_id,
    update_user_id, create_time, update_time, logic_delete
  </sql>

  <select id="listWarehouseInfoByPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from warehouse_info
    <where>
      <if test="param.keyword != null and param.keyword != ''">
        (
        warehouse_info.warehouse_name like concat('%', #{param.keyword}, '%')
        or
        contact_person like concat('%', #{param.keyword}, '%')
        )
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>