<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.stock.dao.mapper.goods.GoodsStockMapper">

  <resultMap id="BaseResultMap" type="com.jy.stock.dao.entity.goods.GoodsStock">
    <!--@mbg.generated-->
    <!--@Table goods_stock-->
    <id column="id" property="id" />
    <result column="goods_id" property="goodsId" />
    <result column="init_stock_num" property="initStockNum" />
    <result column="min_stock_num" property="minStockNum" />
    <result column="max_stock_num" property="maxStockNum" />
    <result column="current_stock_num" property="currentStockNum" />
    <result column="allow_stock_warning" property="allowStockWarning" />
    <result column="create_user_id" property="createUserId" />
    <result column="update_user_id" property="updateUserId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="logic_delete" property="logicDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_id, init_stock_num, min_stock_num, max_stock_num, current_stock_num, allow_stock_warning,
    create_user_id, update_user_id, create_time, update_time, logic_delete
  </sql>

</mapper>