<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.stock.dao.mapper.system.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.jy.stock.dao.entity.system.UserRole">
    <!--@mbg.generated-->
    <!--@Table user_role-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="role_code" property="roleCode" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="logic_delete" property="logicDelete" />
  </resultMap>

  <resultMap id="DtoResultMap" type="com.jy.stock.pojo.dto.system.UserRoleDTO">
    <!--@mbg.generated-->
    <!--@Table user_role-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="role_code" property="roleCode" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="logic_delete" property="logicDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, role_code, create_time, update_time, logic_delete
  </sql>

  <select id="selectRoleCodesByUserId" resultType="String">
    select role_code
    from user_role
    where user_id = #{userId}
    and logic_delete = false
    order by create_time desc
  </select>

</mapper>